@import '../../theme/variables';

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  font-size: large;
  color: $color1;
  background-color: $color4;

  .logout,
  .login {
    padding: 0em;
    > * {
      padding: 0em;
    }
  }

  .buttons {
    display: inline-flex;
    align-items: center;
    padding: 1rem 0rem 0rem 0rem;
  }
}
