@import '../../theme/variables';

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  font-size: large;
  color: $color1;
  background-color: $color4;

  .logout {
    padding: 0em;
  }
}
